@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Trang Lỗi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/Theme/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>

    <div class="jumbotron text-center">
        <h1 class="text-danger">Thông báo.</h1>
        <h2 class="text-danger">Trang bạn yêu cầu không có hoặc bạn không có quyền truy cập!</h2>
        <a href="/Signin/" class="text-primary">Về trang đăng nhập</a>
    </div>

</body>
</html>

