
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng Nhập</title>
    <link href="~/Content/Theme/img/avatar-2-128.png" rel="icon" type="image/png">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="~/Content/Theme/css/pages/login.min.css">
    <link rel="stylesheet" href="~/Content/Theme/vendor/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/Theme/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Theme/css/main.css">
    <link href="~/Content/Theme/vendor/sweetAlert/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="sign-box">
                    <div class="sign-avatar">
                        <img src="~/Content/Theme/img/avatar-sign.png" alt="">
                    </div>
                    <header class="sign-title">Đăng nhập</header>
                    <div class="form-group">
                        <input type="text" name="user" class="form-control" placeholder="tài khoản" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="pass" class="form-control" placeholder="mật khẩu" onkeyup="keyEnter()" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox float-left">
                            <input type="checkbox" id="signed-in" name="savePass"/>
                            <label for="signed-in">Lưu mật khẩu?</label>
                        </div>
                        <div class="float-right reset">
                            <a href="#">Quên mật khẩu</a>
                        </div>
                    </div>
                    <span class="btn btn-rounded" onclick="submit()">Đăng nhập</span>
                    <p class="sign-note">Bạn chưa có tài khoản? <a href="../Signup/Index">Đăng Ký</a></p>

                </form>
                <script>
                    function keyEnter() {
                        if (event.keyCode == 13) {
                            submit();
                        }
                    }
                    function submit() {
                        var user = $("input[name=user]").val();
                        var pass = $("input[name=pass]").val();
                        var savePass = $("input[name=savePass]").is(":checked");
                        if (user == null || user == "") {
                            showAlert("error", "Lỗi đăng nhập", "Yêu cầu nhập tên đăng nhập");
                        } else
                            if (pass == null || pass == "") {
                                showAlert("error", "Lỗi đăng nhập", "Yêu cầu nhập mật khẩu");
                            } else {
                                $.ajax({
                                    method: "POST",
                                    url: "/Signin/Signin",
                                    data: {
                                        user: user,
                                        pass: pass,
                                        savePass: savePass
                                    },
                                    success: function (mess) {
                                        if (mess == -1) {
                                            showAlert("error", "Lỗi thông tin", "Tên đăng nhập hoặc mật khẩu không đúng");
                                        }
                                        if (mess == 1) {
                                            window.location.href = "../Profile/Index";
                                        }
                                    }
                                });
                            }

                    }

                    function showAlert(type, title, text) {
                        swal({
                            type: type,
                            title: title,
                            text: text
                        })
                    }
                </script>
            </div>
        </div>
    </div><!--.page-center-->

    <script src="~/Content/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Theme/vendor/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/Content/Theme/vendor/popper/popper.js"></script>
    <script src="~/Content/Theme/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/Theme/vendor/sweetAlert/sweetalert2.min.js"></script>
</body>
</html>

